
.SanPham {
   float: left;
   width: 200px;
   margin-top:1%;
  margin-left:1%;
  
   padding:15px;
}
/*Div hình ảnh của sp*/
#AnhBia img {
    width: 150px;
    height: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#ThongTin {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    height:50px;
}
/*Div tên sách*/
#TenSP{
    padding: 5px;
    height: 80px;
}

#DonGia {
    padding: 5px;
    font-size: 13pt;
   
}
/**/
#divBody {
    margin: auto;
}
